@charset "UTF-8";
/* CSS Document */
/* Get rid of the gradient of all pages  - old fashioned now
ref: http://zomigi.com/blog/foreground-images-that-scale-with-the-layout/
	- scaling imgs based on size of parent*/
.ui-body-a {
	background-image: none;
	background-color: black;
}

body .ui-header .ui-title {
 white-space: normal;
 }


.histo_img_wrapper {
	height: 105px;
	width: 276px;
	background-image: url(../img/HistoGraph-Logo-with-Tag.jpg);
	margin: auto;
}

/* fills whole div as a clickable a href link*/
.div_link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/*see: http://stackoverflow.com/questions/8160494/how-to-make-a-whole-div-clickable-in-html-and-css-without-javascript 
html:
<div id="my-div">
    <a href="#" class="fill-div"></a>
</div>
*/
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

/* Fonts: */
.histo_font_72 {
	font-family: 'Playball', cursive;
	font-size: 72px;
}

.histo_font_40 {
	font-family: 'Playball', cursive;
	font-size: 40px;
}

.histo_font_36 {
	font-family: 'Playball', cursive;
	font-size: 36px;
}

.histo_font_24 {
	font-family: 'Playball', cursive;
	font-size: 24px;
}

.histo_font_18 {
	font-family: 'Playball', cursive;
	font-size: 18px;
}

.histo_font_12 {
	font-family: 'Playball', cursive;
	font-size: 12px;
}

.red_text {
	color: #F00;
}

.white_text {
	color: #FFF;
}

.border_small {
	border: thin;
	border-color: #FFF;
}

.red_bkgrnd {
	background-color: #F00;
	background-image: none;
}

.page_header {
	overflow: visible;
}

/* see:
http://stackoverflow.com/questions/6301219/how-to-change-the-active-state-default-color-blue
*/
.ui-btn-active {
	color: red !important;
	background: none !important;
	/*background-color: green !important;  */
}

.ui-header .ui-btn {
	display: block;
}

.centre_text {
	text-align: center;
}

.block_spacer {
	display: block;
}

#imageStack {
	
	width: 100%;
	height: 100%;
	position: relative;
	margin: auto;
	overflow: hidden;
	
}

#imageStack ul {
	
	
	height:100%;
	width: 80%;
    margin: 0 auto;
	position: relative; 
	
   
}

#imageStack ul li {
	

	position: relative;
	display: block;
	margin: 0 auto;
	list-style: none;
	background: #fefefe;
  	max-width: 500px;
  	max-height: 500px;  	
	padding: 20px 20px 40px 20px;

	-webkit-box-shadow: 0px 0px 10px #000 !important;
	-moz-box-shadow: 0px 0px 10px #000 !important;
	-o-box-shadow: 0px 0px 10px #000 !important;
	-ms-box-shadow: 0px 0px 10px #000 !important;
	box-shadow: 0px 0px 10px #000 !important;
	-webkit-transition: 0.2s -webkit-transform linear !important;
	-moz-transition: 0.2s -moz-transform linear !important;
	-ms-transition: 0.2s -ms-transform linear !important;
	-o-transition: 0.2s -o-transform linear !important;
	transition: 0.2s transform linear !important;
}

#imageStack ul li img {
	
	border: 1px solid #ccc;
	width: 100%;
  	max-width: 500px;
  	height: 95%;
  	max-height: 500px; 
  	
  	

}

#histographImg{
	
	width: 80%;
	height: 80%;
   text-align: center;
   border:1px #CCC solid !important;	
	
/*   	max-width: 500px;
  	max-height: 500px;  */
	
}

#imageStack ul li img:after {
	-moz-box-shadow: inset 0 0 10em #666;
	-webkit-box-shadow: inset 0 0 10em #666;
	-ms-box-shadow: inset 0 0 10em #666;
	-o-box-shadow: inset 0 0 10em #666;
	box-shadow: inset 0 0 10em #666;
}

#imageStack ul li div {
		/* OLD 
	position: absolute;
	*/
	/* left: 10%; */
	/* position: relative;
	bottom: 5px;
	padding-top:10px;
	
	text-align: center; */
}

#scrollStackPage{
	overflow: hidden;
	background-color:black;
}


#dragContainer{
	/*
	this is the area that imgs can be dragged in  vertically, needs to be a % bigger than the view port
	to allow imgs to go out of view, then get moved to the back of the stack */
	width: 100%;
	height: 150%;

}


.div_link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.postcardStatus{
	font-size:18px;
}

.photoInfo{
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 24px;
	font-weight: 700;
	font-style:italic;
}

/* Fonts: */
.archivo_font_24{
	font-family: 'Archivo Narrow', sanxs-serif;
	font-size: 24px;
}

.economica_font_24{
	font-family: 'Economica', sans-serif;
	font-size: 24px;
}
.histo_font_72 {
	font-family: 'Playball', cursive;
	font-size: 72px;
}

.histo_font_36 {
	font-family: 'Playball', cursive;
	font-size: 36px;
}

.histo_font_24 {
	font-family: 'Playball', cursive;
	font-size: 24px;
}

.histo_font_12 {
	font-family: 'Playball', cursive;
	font-size: 12px;
}

.red_text {
	color: #F00;
}

.white_text {
	color: #FFF;
}

.border_small {
	border: thin;
	border-color: #FFF;
}

.red_bkgrnd {
	background-color: #F00;
	background-image: none;
}

.page_header {
	overflow: visible;
}

/* see:
http://stackoverflow.com/questions/6301219/how-to-change-the-active-state-default-color-blue
*/
.ui-btn-active {
	color: red !important;
	background: none !important;
	/*background-color: green !important;  */
}

.ui-header .ui-btn {
	display: block;
}

.centre_text {
	text-align: center;
}

.block_spacer {
	display: block;
}

#imageStack {
	width: 100%;
	height: 100%;
	/* OLD
	position: absolute;
	*/
	position: relative;
	margin: auto;
	overflow: hidden;
	
	/* background-color:black; */ 
}

#imageStack ul {
	
	
	/* OLD
	padding: 0;
	position: relative;
	margin: 0;
	width: 100%;
	height: 400px;*/
	
	/* New: */
	height:100%;
	width: 80%;
    margin: 0 auto;
   	/* OLD
	position: fixed;
	*/
	position: relative; 
   /* left:50%; */
}

#imageStack ul li {
	
		/* OLD
	position: fixed;
	*/
	position: relative;

	/*
	top: 200px;
	left: 460px;
	
	top: 20px;
	left: 46px;
	*/
	display: block;
	margin: 0 auto;
	list-style: none;
	background: #fefefe;
	
	/*
		width: 300px;
	height: 300px;
	*/
	width: 80%;
  	max-width: 500px;
	height: 60%;
  	max-height: 500px;
  	
	padding: 20px 20px 40px 20px;
	/* ORIG:
	padding: 1% 1% 1% 1%;
	*/
	-webkit-box-shadow: 0px 0px 10px #000;
	-moz-box-shadow: 0px 0px 10px #000;
	-o-box-shadow: 0px 0px 10px #000;
	-ms-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
	-webkit-transition: 0.2s -webkit-transform linear;
	-moz-transition: 0.2s -moz-transform linear;
	-ms-transition: 0.2s -ms-transform linear;
	-o-transition: 0.2s -o-transform linear;
	transition: 0.2s transform linear;
}

.ui-draggable-dragging {
	-webkit-transform: rotate(0deg) scale(1.2) !important;
	-moz-transform: rotate(0deg) scale(1.2) !important;
	-ms-transform: rotate(0deg) scale(1.2) !important;
	-o-transform: rotate(0deg) scale(1.2) !important;
	transform: rotate(0deg) scale(1.2) !important;
}

#imageStack ul li img {
	border: 1px solid #ccc;
	width: 100%;
  	max-width: 500px;
  	height: 95%;
  	max-height: 500px; 
}

#imageStack ul li img:after {
	-moz-box-shadow: inset 0 0 10em #666;
	-webkit-box-shadow: inset 0 0 10em #666;
	-ms-box-shadow: inset 0 0 10em #666;
	-o-box-shadow: inset 0 0 10em #666;
	box-shadow: inset 0 0 10em #666;
}

#imageStack ul li div {
		/* OLD
	position: absolute;
	
	position: relative;
	bottom: 15px;
	left: 20px;
	*/
}

#scrollStackPage{
	overflow: hidden;
	background-color:black;
}


#dragContainer{
	/*
	this is the area that imgs can be dragged in  vertically, needs to be a % bigger than the view port
	to allow imgs to go out of view, then get moved to the back of the stack */
	width: 100%;
	height: 150%;

}

.selected{

}
	
	/*
see: http://stackoverflow.com/questions/3384721/how-to-overlay-a-transparent-png-over-an-image-when-rolling-over-some-other-ite
and http://stackoverflow.com/questions/7972877/how-can-i-overlay-a-png-on-every-img-tag-on-hover?rq=1
*/
.tick{
	
	height:30px !important;
	width:30px !important;
	position:absolute;
	float:right; 
	border-width:0px !important; 
	border-color:transparent !important;
	padding-left:86%; 
	padding-top:2%;
	
}

#imageStack ul li div {
		/* OLD
	position: absolute;
	*/
	position: relative;
	bottom: 5px;
	padding-top:10px;
	/* left: 10%; */
	text-align: center;
}

.makeHistoBtn{
	height:100%;
	width:30%;
	background-color: blue;
	float:right;
	position:relative;
	text-align: center;
	display:inline;
	bottom:0px;
	top:0px;
	padding-top:15px;
	padding-bottom:10px; 
	
}

.headerbar{
	height:100%;
	width:70%;
	background-color:black;
	text-align: center;
	display:inline;
	float:left;
	bottom:0px;
	top:0px;
	position:relative;
}


/* Speed improvement by removing box shadows from JQM styles
see: http://forum.jquery.com/topic/a-fix-for-low-android-performance-remove-box-shadow
http://stackoverflow.com/questions/11333150/twitter-bootstrap-how-to-remove-gradient-mixin-in-subclass
*/

/* .ui-shadow,
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a,
.ui-body-b,
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b,
.ui-bar-c,
.ui-body-c,
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c,
.ui-bar-c,
.ui-body-d,
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d,
.ui-bar-d,
.ui-body-e,
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e,
.ui-bar-e,
.ui-overlay-shadow,
.ui-shadow,
.ui-btn-active,
.ui-body-a,
.ui-bar-a  */
*{
 text-shadow: none;
 box-shadow: none;
 -webkit-box-shadow: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

/*  html, body, .ui-page, .ui-content, #fillme {
    min-height: 100%;
    height: 100%;
} 
 */
 
 #histographImgDiv{
/*    min-height: 100%;
   height: 100%;
   min-width: 100%;
   width: 100%; */
   text-align: center;
   border-color: white;
   border-width: 2px;
 } 
 
.container /*get the img in this container div to fill but not stretch the container */
     {
      width:100%;
     height:100%
     display:block; 
     position:relative;
     overflow:hidden;
     }
/* .container img 
    {
     position:absolute;
     top:0;
     left:0; 
     width:100%;
     } */
	 
contactDetails .textBox{
	border:1px #CCC solid !important;	
}
.textBox{
	border:1px #CCC solid !important;	
}

#contactsList li{
	padding-top:7px;
}

#contactsList{
	list-style: none;
}

/* #postCardMsgCheck{
	width: 80%;
	height:50%;
	border: 1px #CCC solid !important;
} */

#socialList img{
	padding-top:5%;
	padding-left:2%;
}